absl-py==1.4.0
appdirs==1.4.4
astunparse==1.6.3
attrs==23.1.0
awscli==1.27.164
beautifulsoup4==4.12.2
botocore==1.29.164
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.4
contourpy==1.1.0
cycler==0.11.0
Deprecated==1.2.14
docstring-parser==0.15
docutils==0.16
fire==0.5.0
flake8==6.0.0
flatbuffers==2.0.7
fonttools==4.40.0
frozendict==2.3.8
gast==0.4.0
google-api-core==2.11.1
google-api-python-client==1.12.11
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.56.0
h5py==3.9.0
html5lib==1.1
httplib2==0.22.0
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
jax==0.4.13
jmespath==1.0.1
joblib==1.3.1
jsonschema==4.17.3
keras==2.12.0
kfp==1.8.21
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kfp-tekton==1.5.4
kfp-tekton-server-api==1.5.0
kiwisolver==1.4.4
kubernetes==25.3.0
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
mccabe==0.7.0
minio==7.1.15
ml-dtypes==0.2.0
multitasking==0.0.11
numpy==1.23.5
oauthlib==3.2.2
onnx==1.14.0
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
pandas-datareader==0.10.0
Pillow==9.5.0
protobuf==3.20.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pydantic==1.10.10
pydot==1.4.2
pydot-ng==2.0.0
pyflakes==3.0.1
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytz==2023.3
PyYAML==5.4.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rsa==4.7.2
s3cmd==2.3.0
s3transfer==0.6.1
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
soupsieve==2.4.1
strip-hints==0.1.10
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
tf2onnx==1.14.0
threadpoolctl==3.1.0
typer==0.9.0
typing_extensions==4.7.0
tzdata==2023.3
uritemplate==3.0.1
urllib3==1.26.16
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
wrapt==1.14.1
yfinance==0.2.22
zipp==3.15.0
